body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  background-color: #eee;
}

a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #000;
}

.navbar {
  border-bottom: 1px solid #ccc;
  padding: 5px 50px;

}
.navbar h1 {
  margin: 0;
}

.container {
  background-color: #fff;
}

.font-card {
  padding: 25px 50px;
  border-bottom: 1px solid #ccc;
}

.font-card p {
  margin-top: 0;
  font-size: 50px;
  line-height: 50px;
}